---
layout: default
title: Home
---

<div class="introduction">
  <div class="introduction-text">
    <h1>Welcome to Bakeology!~</h1>
    <div>
      <p>
        Stepping into Kolkata and yearning for a taste of pure indulgence? Look
        no further than Bakeology, your haven for handcrafted happiness! We're
        all about delectable treats made with passion, using the freshest local
        ingredients. From melt-in-your-mouth cookies in a variety of flavors to
        adorable, single-serving bento cakes perfect for personal celebrations,
        Bakeology offers something to tantalize every taste bud. We also feature
        irresistible donuts–light, fluffy dough bursting with flavor–a perfect
        way to satisfy your donut cravings!
      </p>
      <p>
        From classic cookies to whimsical bento cakes, Bakeology has it all.
        Visit us or order online for delivery or pick-up. We make indulging easy
        and delightful. Come experience Bakeology–your sweet escape!
      </p>
    </div>
  </div>

  <img src="/assets/images/introduction.jpg" />

  <!-- Add padding to separate the image from the side -->
  <div style="padding: 2%"></div>
</div>

<div class="showcase">
  {% for image in site.data.showcase %}
    <div class="showcase-element">
      <img src="{{ image.path }}" class="showcase--img" />
      <div class="showcase--text"> {{ image.name | upcase }} </div>
    </div>
  {% endfor %}
</div>

<div class="reviews">
  <h2>What our customers have to say</h2>
  {% for review in site.data.reviews %}
    <div class="review">
      <div class="review--text"> {{ review.text }} </div>
      <div class="review--author"> {{ review.author }} </div>
    </div>
  {% endfor %}
</div>

<div>
  <h2>Ready to indulge?</h2>
  <p>
    Visit us at our store or order online for delivery or pick-up. We can't
    wait to share our passion for baking with you!
  </p>
  <a href="/contact" class="button">Contact us</a>
</div>